@using AyBorg.Diagrams.Components.Renderers
@using AyBorg.Web.Pages.Agent.Shared
@using SDK.Common.Ports

<MudCard Class="@NodeClass">
	<MudCardHeader Class="flow node title">
		<MudText>@Node!.Title</MudText>
	</MudCardHeader>
	<MudCardContent Class="pt-10 pb-0">
		@foreach (var port in _outputPorts)
		{
			<div Class="mud-full-width" Style="height: 40px">
				<div Style="position: relative; float: right">
				<MudTooltip Text="@port.Brand.ToString()">
					<PortRenderer Port="port" class="@GetPortClass(port)"></PortRenderer>
				</MudTooltip>
				</div>
				<span Style="float: right" Class="pt-1">@port.Name</span>
			</div>

		}
		@foreach (var port in _inputPorts)
		{
			<div Style="position: absolute; float: left; left: -6px">
				<MudTooltip Text="@port.Brand.ToString()">
					<PortRenderer Port="port" class="@GetPortClass(port)"></PortRenderer>
				</MudTooltip>
			</div>
            <PortResolver Port="@port" Ports="@_inputPorts" />
		}
	</MudCardContent>
	<MudCardActions>
		<div Class="mud-full-width" Style="height: 42px">
            <MudTooltip Text="Full Screen" hidden="@(!Node.Selected || Node.Locked)">
                <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Color="Color.Default" OnClick="@OnStepFullScreenClicked" Style="float: left" />
            </MudTooltip>
            <MudTooltip Text="Delete" hidden="@(!Node.Selected || Node.Locked)">
			    <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="@OnRemoveNodeClicked" Style="float: left" />
            </MudTooltip>
			<span Style="float: right" Class="pr-3 pt-4">@Node!.Step!.ExecutionTimeMs ms</span>
		</div>
	</MudCardActions>
</MudCard>
