@page "/audit/reports/create"
@using SDK.Authorization
@attribute [Authorize(Roles = $"{Roles.Administrator}, {Roles.Auditor}")]

<PageTitle>AyBorg - Audit Report</PageTitle>

<div class="page-loading-bar">
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-0" hidden="@(!_isLoading)"/>
</div>
<MudToolBar Class="mud-full-width">
    <MudDateRangePicker Label="Date Range" Editable="true" @bind-DateRange="_dateRange" Class="mr-5" />
    <MudSelect T="ServiceOption" Label="Services" MultiSelection="true" SelectAll="true" ToStringFunc="@_serviceSelectionConveter" @bind-SelectedValues="_selectedOptions" Class="mr-5">
        @foreach (var option in _selectableServiceOptions)
        {
            <MudSelectItem T="ServiceOption" Value="@option">@option.Label</MudSelectItem>
        }
    </MudSelect>
    <MudTooltip Text="Filter">
        <MudIconButton Icon="@Icons.Material.Filled.FilterList" Color="Color.Primary" />
    </MudTooltip>
</MudToolBar>

@foreach (var service in _groupedChangesets.Keys)
{
    <MudCard Class="mud-full-width rounded-lg mt-5">
        <MudCardHeader Class="pb-0">
            <MudText Typo="Typo.h6">@service.Label Changesets</MudText>
        </MudCardHeader>
        <MudCardContent>

        </MudCardContent>
    </MudCard>
}
