<div class="object-fill object-center mud-full-width">
    <img src="/img/brand/logo-white.svg" class="mud-full-width mud-full-height image-placeholder" hidden="@(_imageContainer != null)" />
    <div class="mud-paper mud-card mud-elevation-2">
        <MudImage Src="@ToBase64String(_imageContainer!)" Class="mud-full-width rounded-lg" />
        <div class="mud-card-actions">
            <MudGrid>
                <MudItem xs="6">
                <MudCheckBox T="bool" Size="Size.Medium" Color="Color.Secondary" Value="@Selected" ValueChanged="@OnSelectedChanged" />
                </MudItem>
                <MudItem xs="6" Class="d-flex flex-wrap justify-end">
                    <MudTooltip Text="Annotate">
                        <MudIconButton Icon="@Icons.Material.Filled.Draw" Color="Color.Primary" />
                    </MudTooltip>
                </MudItem>
            </MudGrid>
        </div>
    </div>
</div>