<div class="image-thumbnail-container @_selectClass">
    <img src="@(Source.ToBase64String())"
        class="mud-image object-cover object-center"
        width="@Width" height="@Height"
        onclick="@ImageClicked">
</div>
