<div class="app-nav-bar-spacer"></div>
<AuthorizeView Roles="Administrator, Engineer, Reviewer, Auditor">
    <Authorized>
        <MudButton Href="@DASHBOARD_URI" Class="@GetActiveClass(DASHBOARD_URI)" StartIcon="@Icons.Material.Filled.Dashboard" Disabled="@(!_isDashboardAvailable)">
            Dashboard
            @if(!_isDashboardAvailable)
            {
                <MudChip Color="Color.Info" Class="ml-2">PRO</MudChip>
            }
        </MudButton>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator, Engineer, Reviewer, Auditor">
    <Authorized>
        <MudButton Href="@AGENTS_URI" Class="@GetActiveClass(AGENTS_BASE_URI)" StartIcon="@Icons.Material.Filled.Workspaces">Agents</MudButton>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator, Engineer, Reviewer">
    <Authorized>
        <MudButton Href="@NET_URI" Class="@GetActiveClass(NET_BASE_URI)" StartIcon="@Icons.Material.Filled.Hive" Disabled="@(!_isNetAvailable)">
            Net
            @if(!_isNetAvailable)
            {
                <MudChip Color="Color.Info" Class="ml-2">PRO</MudChip>
            }
        </MudButton>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator, Engineer, Reviewer, Auditor">
    <Authorized>
        <MudButton Href="@OBSERVABILITY_URI" Class="@GetActiveClass(OBSERVABILITY_BASE_URI)" StartIcon="@Icons.Material.Filled.Analytics">Observability</MudButton>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator, Engineer, Reviewer, Auditor">
    <Authorized>
        <MudButton Href="@AUDIT_URI" Class="@GetActiveClass(AUDIT_BASE_URI)" StartIcon="@Icons.Material.Filled.Assignment" Disabled="@(!_isAuditAvailable)">
            Audit
            @if(!_isAuditAvailable)
            {
                <MudChip Color="Color.Info" Class="ml-2">PRO</MudChip>
            }
        </MudButton>
    </Authorized>
</AuthorizeView>