@using SDK.Authorization

<div class="nav-header-spacer"></div>

@if (_category == Category.Dashboard)
{
    <AuthorizeView Roles="Administrator, Engineer, Reviewer, Auditor">
    <Authorized>
        <MudNavLink Icon="@Icons.Material.Filled.Dashboard" href="dashboard" Match="NavLinkMatch.All"
            Disabled="@(!_isDashboardAvailable)">
            @(_dashboardTitle)
        </MudNavLink>
    </Authorized>
</AuthorizeView>
}

@if (_category == Category.Agents)
{
    <AuthorizeView Roles="Administrator, Engineer, Reviewer">
    <Authorized>
        <MudNavLink Href="agents/overview" Match="NavLinkMatch.All" Class="mb-2">
            <MudText Typo="Typo.subtitle1">
                Overview
            </MudText>
        </MudNavLink>
        <MudText Typo="Typo.subtitle1" Class="ml-3">
            <strong>@_agentName</strong>
        </MudText>
        <MudNavLink Href="@_agentProjectLink" Disabled="@(!_isAgentSelected)">
            Projects
        </MudNavLink>
        <MudNavLink Href="@_agentEditorLink" Disabled="@(!_isAgentSelected)">
            Editor
        </MudNavLink>
        <MudNavLink Href="@_agentDevicesLink" Disabled="@(!_isAgentSelected)">
            Devices
        </MudNavLink>
    </Authorized>
</AuthorizeView>
}

@if (_category == Category.Net)
{
    <AuthorizeView Roles="Administrator, Engineer, Reviewer">
    <Authorized>
        <MudNavLink Href="net/projects" Class="mb-2">
            <MudText Typo="Typo.subtitle1">
                Projects
            </MudText>
        </MudNavLink>
        <MudText Typo="Typo.subtitle1" Class="ml-3">
            <strong>@_netProjectName</strong>
        </MudText>
        <MudNavLink Href="@_netUploadLink" Disabled="@(!_isNetProjectSelected)">
            Upload
        </MudNavLink>
        <MudNavLink Href="@_netAnnotateLink" Disabled="@(!_isNetProjectSelected)">
            Annotate
        </MudNavLink>
        <MudNavLink Href="@_netDatasetsLink" Disabled="@(!_isNetProjectSelected)">
            Datasets
        </MudNavLink>
        <MudNavLink Href="@_netGenerateLink" Disabled="@(!_isNetProjectSelected)">
            Generate
        </MudNavLink>
        <MudNavLink Href="@_netModelsLink" Disabled="@(!_isNetProjectSelected)">
            Models
        </MudNavLink>
    </Authorized>
</AuthorizeView>
}

@if (_category == Category.Observability)
{
    <AuthorizeView Roles="Administrator, Engineer, Reviewer, Auditor">
    <Authorized>
        <MudNavLink Href="observability/services" Match="NavLinkMatch.Prefix">
            Services
        </MudNavLink>
        <MudNavLink href="observability/analytics" Match="NavLinkMatch.Prefix" Disabled="@(!_isAnalyticsAvailable)">
            Logs
        </MudNavLink>
    </Authorized>
</AuthorizeView>
}

@if (_category == Category.Audit)
{
    <AuthorizeView Roles="Administrator, Auditor">
    <Authorized>
        <MudNavGroup Title="@(_auditTitle)" Icon="@Icons.Material.Filled.Assignment" Expanded="@(_isAuditAvailable)"
            Disabled="@(!_isAuditAvailable)" HideExpandIcon>
            <MudNavLink Href="audit/reports/create" Match="NavLinkMatch.All">
                Create Report
            </MudNavLink>
            <MudNavLink Href="audit/reports" Match="NavLinkMatch.All">
                Saved Reports
            </MudNavLink>
        </MudNavGroup>
    </Authorized>
</AuthorizeView>
}

@if (_category == Category.Admin)
{
    <AuthorizeView Roles="@Roles.Administrator">
    <Authorized>
        <MudNavLink Href="admin/usermanagement" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ManageAccounts">
            User Management
        </MudNavLink>
    </Authorized>
</AuthorizeView>
}
