@inherits BaseInputField

<div Class="flow-node-field mud-full-width mud-full-height px-1 mb-4">
    @if(!AlternativeMode)
    {
        <span>@Port.Name</span>
    }
    <div class="mud-full-width mud-full-height">
        @if (!string.IsNullOrEmpty(_imageUrl) && _imagePosition.Width > 0 && _imagePosition.Height > 0)
        {
            <div @ref="@_imageContainer" class="@_imageContainerClasses">
                <MudTooltip Text="@ImageTooltip">
                    <svg width="@_imageWidth" height="@_imageHeight">
                        <defs>
                            <mask id="@_maskId">
                                @if(_labelRectangles.Any())
                                {
                                    <rect x="@_imagePosition.X" y="@_imagePosition.Y" width="@_imagePosition.Width" height="@_imagePosition.Height" fill="white" />
                                }
                                @foreach (var rectangle in _labelRectangles)
                                {
                                    <rect x="@rectangle.X" y="@rectangle.Y" width="@rectangle.Width" height="@rectangle.Height" fill="black" />
                                }
                            </mask>
                        </defs>
                        <image href="@_imageUrl" x="@_imagePosition.X" y="@_imagePosition.Y" width="@_imagePosition.Width" height="@_imagePosition.Height" />
                        <rect x="@_imagePosition.X" y="@_imagePosition.Y" width="@_imagePosition.Width" height="@_imagePosition.Height" fill="#00000091" mask="url(#@_maskId)" />
                        @foreach (var rectangle in _labelRectangles)
                        {
                            <rect x="@rectangle.X" y="@rectangle.Y" width="@rectangle.Width" height="@rectangle.Height" style="fill:@rectangle.FillColor;stroke:@rectangle.Color;stroke-width:2" />
                        }
                    </svg>
                </MudTooltip>
            </div>
        }
        else
        {
            <MudImage Src="icons/logo.svg" Style="width: 100%; height: 100%; filter: grayscale(1); opacity: 0.5" />
        }
    </div>
</div>
