@inherits BaseInputField

@if (OnlyThumbnail)
{
    <span>@Port.Name</span>
    <div class="flow-node-field display-container">
        <AyBorg.Web.Shared.Display.Display2D 
            Base64Image="@_imageUrl" 
            ImageWidth="@_imageWidth" 
            ImageHeight="@_imageHeight"
            Shapes="@_labelRectangles" 
            ToolbarVisible="@(!OnlyThumbnail)" 
            ContainerWidth="240"
            ContainerHeight="240"/>
    </div>
}
else
{
    <AyBorg.Web.Shared.Display.Display2D 
        Base64Image="@_imageUrl" 
        ImageWidth="@_imageWidth" 
        ImageHeight="@_imageHeight"
        Shapes="@_labelRectangles" 
        ToolbarVisible="@(!OnlyThumbnail)" />
}
