@inherits BaseInputField

@if(!(IsEditFieldVisible || !_isEditableField))
{
<EditFieldButton Label="@Port.Name" Value="@Port.Value" Disabled="@(Port.IsLinkConvertable || Disabled)" Clicked="@OnEditFieldClicked" />
}
<div class="mud-full-width"  hidden="@(!IsEditFieldVisible)">
    <MudTextField @bind-Value="@_value" Class="flow-input-body" OnKeyUp="@OnKeyUp" OnBlur="OnFocusOut" />
</div>
